* { 
    box-sizing: border-box;
    /* outline: 1px solid red; */
    font-family: Helvetica Neue, Helvetica, sans-serif; 
  }
body{
    margin: 0;
}
h5{
    margin: 0;
}

 h1 {
    font-size: 40px;
    padding: 17px 8px;
    margin: 0;
}
h2{
    font-size: 36px;
}

h3{
    padding-top: 39px;
    padding-bottom: 37px;
    margin: 0;
    font-size: 30px;
}
h4{
    margin: 0;
}
span{
    color: #fff;
}
input{
    width: 79%;
    height: 24px;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 0;
}
button{
    height: 24px;
    margin-right: 0;
    margin-top: 16px;
}
.container{
    background-color: #eee;
    padding: 0 25px 25px 25px;
    padding-bottom: 0;
    position: relative;
}
.logo {
    background-color: black;
    height: 60px;
    display: flex;
}
.item-logo-1{
    width: 171px;
}

.item-logo-2{
    width: 690px;
}
.nav-principal{
    background-color: black;
}
.item-navprin{
    color: white;
}

.nav-principal li{
    list-style: none;
    display: flex;
    display: inline-block;
    padding: 10px;
}
.nav-link{
    display: flex;
    display: inline-block;
    color: white;
}

ul{
    margin: 0;
}

a {
    text-decoration: none;
    list-style: none;
}
.menu{
    background-color: #fff;
}
.item-menu{
    display: flex;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 10px;
}

.home{
    color: #26baee;
    list-style: none;
    background-color: #ffffd2; 
    margin: 10px;
    padding: 10px;
}

.hfah {
    color: #393e46;
    display: flex;
    display: inline-block;
    background-color: #51adcf;
    padding: 10px;
}
.title{
    width: 25%;
    margin: 0;
}
.title-1 {
    background-color: #fff;
}
.aside{
    width: 22%;
}
h5.aside-name{
    color: #3599f5;
}
.aside-img{
    padding-right: 7%;
    padding-bottom: 6px;
}
.aside h5 {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 10px;
}
h5.aside-events {
    color: gray;
}
h5.name {
    color: #3599f5;
}
 
.grid{
display: flex;
flex-wrap: wrap;
font-size: 17px;
padding-left: 20px;
width: 77%;
}
.campus{
    display: flex;
}
.school{
    display: flex;
    flex-direction: row-reverse;
}
.title-3{
    padding: 0;
}
.fixed{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 44px;
    right: 16px;
    background-color:  #3A539B;
    width: 248px;
    height: 100px;
}

.search{
    display: flex;
}
.fa-red{
   color: #DB4B38;
   margin-left: 10px;
   margin-top: 10px;
}
}
.off{
    display: flex;
    font-size: 13px;
    color: white;
    margin: 0px;
}

footer{
    background-color: #eee;
    padding: 0 25px 25px 25px;
}
.footer-text {
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
}
nav.footer-text div {
    width: 25%;
    text-align: center;
}

.items-container {
    display: flex;
    background: #fff;
}

.item-aside {
    padding-left: 10px;
}

h5.aside-events {
    margin: 0;
}

.item-aside {
    display: flex;
}
.item-campus {
    padding-right: 15px;
}
.item-school {
    padding-left: 15px;
}

@media only screen and (max-width: 768px) {
    .grid{
        flex-direction: column;
    }
    .items-container{
        flex-wrap: wrap;
    }
    .grid{
        flex-wrap: wrap;
        width: 100%;
    }

    h1{
        font-size: 25px;
    }

    h2 { 
        font-size: 20px
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 12px;
    }

    .item-menu{
        display: block;
        margin-bottom: 0;
    }
    .school {
        flex-direction: column-reverse;
    }
    .campus{
        flex-direction: column;
    }
    .fa-white{
        color:white;
    }
    .footer-text{
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    .firex-icon{
        display: flex;
        flex-direction: column;
    }

    .item-fired{
        color:white;
    }
    
    .off {
        display: none;
    }

    .item-logo-2{
        display: none;
    }
    .aside{
        flex-direction: column;
        width: 100%;
    }
    .fixed{
        display: none;
    }
}
